/** 
* Main core CSS Values
*/

/** 
* Font face imports local ASAP font
*/
@font-face {
  font-family: "Asap_Variable";
  src: url("./assets/fonts/Asap-VariableFont_wght.ttf");
}

/**
* Main Font is Asap_Variable / Others were there before
*/
body {
  margin: 0;
  font-family: "Asap_Variable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show {
  display: block;
}
.hide {
  display: none;
}
